**/*.vcxproj.user
**/*.VC.db
**/*.VC.opendb
**/*.suo
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/__output
**/__build
.vs
.vscode
obj
bin
lib
ipch
build
src/Debug
src/Release
src/build
output
