**/*.vcxproj.user
**/*.VC.db
**/*.VC.opendb
**/*.suo
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/__output
**/__output32
**/__output64
**/__build
**/__build32
**/__build64
**/.DS_Store
.vs
.vscode
obj
bin
lib
ipch
build
src/Debug
src/Release
src/build
output
